/* Main Style CSS file by katzmile and Crosire */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	font-size: 0px;
	line-height: 0;
}

table {
	border-collapse: collapse;
}

textarea {
	resize: none;
}

img {
	border: 0;
}

form	{
	margin: 0;
	padding: 0;
}

a {
	outline: none;
	text-decoration: none;
}

p {
	margin: 0px;
	padding: 0px;
}

h1 {
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
}

h2 {
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}

h3 {
	color: #900122;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
}

.clear {
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
/* PAGE ------------------------------------------------------------------- */

#logo {
	float: left;
	margin: 0px 0 0 25px;
}

#logo a {
	display: block;
	-moz-transition: all 0.5s linear 0s;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#logo a:hover {
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear;
	opacity: 0.3 !important;
}

#page-top-outer {
	background: url(../images/forms/top_bg.jpg) top center repeat;
	border-bottom: 1px solid #7e7e7e;
	height: 95px;
}

#page-top {
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	position: relative;
	z-index: 200;
}

#content-outer {
	background: url(../images/forms/content_repeat.jpg) repeat-x;
}
/* TIME ------------------------------------------------------------------- */
#time{
	position:absolute;
	color: #FFF;
	top: 10px;
	right:20px;
	font-size: 13px;
	line-height: 25px;
}
#content {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	max-width: 1260px;
	min-width: 780px;
	padding: 35px 0px 30px 0px;
}
	
#content-inner {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
}

#content-table {
	font-size: 0px;
	line-height: 0px;
}

#content-table th {
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
}

#content-table-inner {
	font-size: 12px;
	line-height: 12px;
	padding: 10px 0 20px 0;
}

td.border-top {
	background: url(../images/forms/border_bit.jpg) top repeat-x;
	line-height: 0;
	font-size: 0px;
	height: 15px;
}

td.border-bottom {
	background: url(../images/forms/border_bit.jpg) bottom repeat-x;
	line-height: 0;
	font-size: 0px;
	height: 15px;
}

td.border-left {
	background: url(../images/forms/border_bit.jpg) left repeat-y;
}

td.border-right {
	background: url(../images/forms/border_bit.jpg) right repeat-y;
}

th.corner-topleft {
	background: url(../images/forms/corner_top_left.jpg) no-repeat;
	width: 15px;
	height: 15px;
}

th.corner-topright {
	background: url(../images/forms/corner_top_right.jpg) no-repeat;
	width: 15px;
	height: 15px;	
}	

th.corner-bottomleft {
	background: url(../images/forms/corner_bottom_left.jpg)	no-repeat;
	width: 15px;
	height: 15px;	
}

th.corner-bottomright {
	background: url(../images/forms/corner_bottom_right.jpg)	no-repeat;
	width: 15px;
	height: 15px;	
}	

#page-heading {
	margin: 0 0 15px 20px;
}

/* SEARCH ----------------------------------------------------------------- */

#search {
	display: inline;
	float: right;
	position: relative;
	margin: 46px 20px 0 0;
	z-index: 20;
}

.search-inp {
	background: url(../images/forms/search_inp.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	height: 23px;
	padding: 6px 6px 0 10px;
	width: 170px;
}

.search-select {
	background: #2a2a2a;
	border: 1px solid #424242;
	color: #fff;
	width: 120px;
	padding: 5px;
	line-height: 14px;
	margin-right: 6px;
	font-size: 12px;
}

/* QUICK LINKS ------------------------------------------------------------ */

#quicklinks ul {
	margin: 15px 0 0px;
	padding:0;
	list-style: none;
	display: block;
	overflow: hidden;
}

#quicklinks a {
	display: block;
	float: left;
	padding: 10px;
	border: 1px solid #fff;
	width: 75px;
	height: 68px;
}

#quicklinks a:hover {
	text-decoration: none;
	background: none repeat scroll 00 #F4F8FB;
	border: 1px solid #E8F0F7;
}

#quicklinks li {
	float: left;
	display: block;
	text-align: center;
	vertical-align: middle;
}

#quicklinks li img {
	margin-bottom: 3px;
}

#quicklinks li strong {
	font-size: 12px;
	font-weight: normal;
}

/* TABLE ------------------------------------------------------------------ */
	
#product-table {
	margin-bottom: 20px;
}

#product-table th {
	height: 50px;
	text-align: left;
}

#product-table td {
	border: 1px solid rgba(78, 57, 19, 0.8);
	padding: 0px 0 0px 0px;
}
	
#product-table td a {
	color: #FFF;
	font-weight: bold;
	font-size: 16px;	
}
	
#product-table td a:hover {
	text-decoration: underline;
}

.product-table-header {
	background: url(../images/forms/table_header_repeat.jpg) repeat-x;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 0;
	border-left: 1px solid #373737;
}

.product-table-header a {
	color: #FFF;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
}

.product-table-header a:hover {
	text-shadow: 0 0 0.2em #FFF;
}

.gear_preview	{
	background-color: rgba(78,57,19,0.8);
	padding: 0;
	margin: 0;
	min-height: 47px;
	height: 47px;
	vertical-align: middle;
}

td.gear_preview {
	color: #FFFFFF;
}

/* POPUP ------------------------------------------------------------------ */

.modalPopup {
	top: expression(eval(document.documentElement.scrollTop)) !important;
	width: 900px;
	height: 450px;
	border: 4px solid #000000;
	background-color: #FFFFFF;
}

/* GEAR ------------------------------------------------------------------- */

#gear_player {
	background: transparent url(../images/gear/gear_ui.png) no-repeat;
	width: 1125px;
	height: 566px;
}

#gear_vehicle {
	background: transparent url(../images/gear/vehicle_ui.png) no-repeat;
	width: 1125px;
	height: 566px;
}

.gear_info {
	position: absolute;
	width: 375px;
	height: 566px;
}

.gear_inventory {
	position: absolute;
	margin-top: 0px;
	margin-left: 376px;
	width: 375px;
	height: 566px;
}

.gear_backpack{
	position: absolute;
	margin-top: 0px;
	margin-left: 752px;
	width: 375px;
	height: 566px;
}

.gear_slot {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	background-color: rgba(155,146,107,0.8);
}

div.playermodel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 24px;
	width: 282px;
	height: 349px;
}

.backpackname, .inventoryheader {
	margin-top: 24px;
	width: 375px;
	height: 24px;
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	line-height: 21px;
	font-weight: bold;
	position: absolute;
}

.preview_gear_slot {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(155,146,107,0.8);
	border: 1px solid rgba(78,57,19,0.8);
}

.vehicle_gear {
	position: absolute;
	margin-top: 0px;
	margin-left: 376px;
	width: 375px;
	height: 566px;
}

#vehicle_inventory {
	position: absolute;
	margin-top: 48px;
	margin-left: 0px;
	width: 374px;
	height: 473px;
	overflow: auto;
}

.vehicle_hitpoints {
	position: absolute;
	margin-top: 0px;
	margin-left: 752px;
	width: 375px;
	height: 566px;
}

.hit_slot {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	background-color: rgba(100,255,0,0.8);
}

#gps {
	background: transparent url(../images/gps/gps_ui.png) no-repeat;
	width: 148px;
	height: 128px;
}

.gpstext {
	text-align: center;
	vertical-align: middle;
	color: #37382a;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	line-height: 25px;
	font-weight: bold;
	position: absolute;
}

.statstext {
	text-align: left;
	vertical-align: middle;
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	line-height: 16px;
	font-weight: bold;
	position: absolute;
}

/* MESSAGES --------------------------------------------------------------- */

#message-blue {
	margin-bottom: 5px;
}

.blue-left {
	background: url(../images/forms/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
	
.blue-left a {
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}

.blue-right {
	width: 55px;
}
	
.blue-right a {
	cursor: pointer;
}
	
#message-red {
	margin-bottom: 5px;
}

.red-left {
	background: url(../images/forms/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
	
.red-left a {
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}

.red-right {
	width: 55px;
}
	
.red-right a	{
	cursor: pointer;
}
	
#message-yellow {
	margin-bottom: 5px;
}
	
.yellow-left {
	background: url(../images/forms/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}

.yellow-left a {
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}

.yellow-right {
	width: 55px;
}

.yellow-right a {
	cursor: pointer;
}

#message-green {
	margin-bottom: 5px;
}
	
.green-left {
	background: url(../images/forms/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
}
	
.green-left a {
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}

.green-right {
	width: 55px;
}
	
.green-right a {
	cursor: pointer;
}
	
/* PAGING ----------------------------------------------------------------- */

#paging-table {
	float: right;
	margin: 0 4px 0 0;
}	

#paging-info {
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
}

.paging-far-left {
	background: url(../images/forms/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
}

.paging-left {
	background: url(../images/forms/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}

.paging-far-right {
	background: url(../images/forms/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
}

.paging-right {
	background: url(../images/forms/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}

/* BUTTONS ---------------------------------------------------------------- */

.submit {
	background: url(../images/forms/submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px;
}

.submit:hover {
	background: url(../images/forms/submit.gif) no-repeat 0 -29px;
}

#step-holder {
	font-family: Tahoma;
	height: 39px;
	margin-bottom: 20px;
}	

.step-no {
	float: left;
	height: 29px;
	width: 29px;
	font-size: 18px;
	line-height: 18px;
	padding: 5px 0 0 0;
	text-align: center;
}

.step-no-off {
	float: left;
	height: 29px;
	width: 29px;
	font-size: 18px;
	line-height: 18px;
	padding: 5px 0 0 0;
	text-align: center;
	color: #cbcbcb;
}

.step-dark-left {
	float: left;
	background: url(../images/forms/step_dark_left.gif) no-repeat;
	height: 27px;
	padding: 12px 15px 0 25px;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}

.step-dark-left a { 
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}

.step-dark-right {
	float: left;
	width: 12px;
	background: url(../images/forms/step_dark_right.gif) no-repeat;
	height: 39px;
}

.step-dark-round {
	float: left;
	width: 8px;
	height: 39px;
	background: url(../images/forms/step_dark_round.gif) no-repeat;
}

.step-light-left {
	float: left;
	height: 27px;
	padding: 12px 15px 0 25px;
	font-size: 13px;
	background: url(../images/forms/step_light_left.gif) no-repeat;
	height: 39px;
	color: #cbcbcb;
	font-weight: bold;
}

.step-light-left a {
	font-size: 13px;
	color: #cbcbcb;
	font-weight: bold;
}

.step-light-right {
	float: left;
	width: 12px;
	background: url(../images/forms/step_light_right.gif) no-repeat;
	height: 39px;
}

.step-light-round {
	float: left;
	width: 8px;
	height: 39px;
	background: url(../images/forms/step_light_round.gif) no-repeat;
}

/* FOOTER -------------------------------------------------------------- */

#footer	{
	height: 20px;
	text-align: left;
	min-width: 780px;
	max-width: 1260px;
	color: #818181;
	font-size: 11px;
	line-height: 11px;
	margin: 100px auto 0px auto;
	padding: 15px 0 15px 25px;
	border-top: 1px solid #dbdbdb;
}

#footer a {
	color: #818181;
	text-decoration: none;
}

#footer a:hover	{
	color: #000;
	text-decoration: none;
}