/* Navigation Menu CSS file by Crosire */

#nav-left { 
	float: left; 
	font-weight: bold; 
	color: #fff; 
	font-family: Tahoma; 
	font-size: 15px; 
	padding: 2px 20px 0 20px; 
	height: 38px; 
	position: absolute; 
	width: 600px; 
	min-width: 600px; 
	z-index: 500; 
}
#nav-right {
	float: right;
	position: relative;
	width: 225px;
	z-index: 0;
}
#nav-right a {
	display: block;
	float: left;
	margin: 10px 0 0 5px;
}

.nav-outer-repeat {
	background: url(../images/forms/repeat.jpg) repeat-x;
	height: 38px;
}
.nav-outer {
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
}

.nav-divider {
	background: url(../images/forms/nav_divider.jpg) top no-repeat;
	float: left;
	height: 40px;
	width: 15px;
}

.nav-separator {
	background-color: #666;
	height: 10px;
	padding: 7px 0 0;
}
.nav-separator span {
	display: block;
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	border-top: 1px solid rgba(0, 0, 0, .2);
}

.nav-top, .nav-top * {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}
.nav-top .root > .item {
	cursor: pointer;
}
.nav-top .root a {
	color: #fff;
}

.nav-top ul {
	position: relative;
	padding-bottom: 6px;
	padding-top: 6px;
	width: 175px;
}
.nav-top li {
	position: relative;
	float: none;
	width: 100%;
	height: 25px;
	list-style: none;
}
.nav-top li .item {
	display: block;
	float: none;
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0 15px;
	text-decoration: none;
}
.nav-top li a.item {
	cursor: pointer;
	line-height: 25px;
}
.nav-top li ul {
	float: none;
	left: -999em;
	position: absolute;
	z-index: 1500;
}

.nav-top li:hover ul {
	left: 0;
	top: 26px;
}
.nav-top li:hover li ul {
	top: -999em;
}
.nav-top li:hover > .item {
	background-color: #666;
}
.nav-top li li:hover > ul {
	left: 175px;
	top: -6px;
}

.nav-top li.root {
	float: left;
	width: auto;
	height: 27px;
} 
.nav-top li.root > .item {
	float: left;
	width: auto;
	height: 27px;
	line-height: 29px;
	margin-right: 2px;
}
.nav-top li.root > .down {
	background-image: url(../images/forms/down-arrow.png);
	background-position: 100% 60%;
	background-repeat: no-repeat;
}
.nav-top li.root > a.item.down {
	padding-right: 20px;
}

.nav-top .menu {
	background-color: #666;
}
.nav-top .menu li {
	position: relative;
	float: left;
	width: 100%;
}
.nav-top .menu li > .item {
	background-color: #666;
}
.nav-top .menu li > .down {
	background-image: url(../images/forms/right-arrow.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.nav-top .menu li:hover > .item {
	background-color: #4D4D4D;
}
.nav-top .menu li:hover > .down {
	background-image: url(../images/forms/right-arrow.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}